* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #1a202c;

	display: flex;
	justify-content: center;
	align-items: center;
}

.lolz {
	text-align: center;
}

.lolz .heart {
	margin-top: 1rem;
}

img {
	align-self: center;
	height: auto;
	width: 90vw;
}

