* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #1a202c;

	display: flex;
	justify-content: center;
	align-items: center;
}

img.gif {
	align-self: center;
	height: auto;
	min-width: 50vw;
	max-width: 90vw;
}

.caption {
	margin-top: 1rem;
	text-align: center;
}

.caption .heart {
	cursor: pointer;
}

#github-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.75rem 1rem;
}

#github-wrapper a {
	display: flex;
}

#github-wrapper a img {
	opacity: 0.5;
}
